<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.orderSystem.mapper.OrderItemMapper">

    <select id="getFrozenAmount" resultType="long">
        SELECT COALESCE(SUM(oi.subtotal), 0)
        FROM order_items oi
        JOIN orders o ON oi.order_id = o.order_id
        WHERE oi.user_id = #{userId}
          AND o.status IN ('OPEN', 'FAILED')
    </select>

</mapper>
